@charset "UTF-8";
.servicios {
  text-align: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
  background-image: url("../images/fondo-cuero-lineas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.servicios h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.servicios p {
  font-size: 1.3rem;
}

.text-content {
  flex: 1;
  color: #000000;
  padding: 15px; /* Aumenta el padding para crear espacio alrededor del texto */
  background-color: rgba(226, 220, 220, 0.8); /* Contenedor con fondo blanco semitransparente */
  border-radius: 10px; /* Bordes redondeados para un efecto más estético */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra suave al contenedor */
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.cards-container .card {
  background-color: #a35957;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 150px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cards-container .card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.cards-container .card h3 {
  margin-top: 10px;
  font-size: 18px;
}
.cards-container .card:hover {
  transform: scale(1.05);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Hammersmith One", sans-serif;
}

footer {
  background-color: #a35957;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #a35957;
  padding: 10px 20px;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
header .logo a img {
  height: 50px;
  margin-right: 10px;
}
header .text-logo h1,
header .text-logo h2 {
  margin: 0;
  color: #000000;
  font-weight: normal;
}
header .text-logo h1 {
  font-size: 1.5rem;
}
header .text-logo h2 {
  font-size: 1rem;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}
header nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}
header nav ul li a:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  header {
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center; /* Centra los elementos */
    padding: 10px; /* Ajusta el padding para pantallas pequeñas */
  }
  header .logo {
    margin-bottom: 10px; /* Espacio debajo del logo */
  }
  header nav ul {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    gap: 10px; /* Reduce el espacio entre elementos */
  }
  header nav ul li a {
    font-size: 1rem; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }
}
.inicio {
  background-image: url("../images/fondo-cuero-lineas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 20px;
}
.inicio .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-image: url("../images/fondo-cuero-lineas.webp"); /* Ruta de la imagen */
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Hace que el fondo sea fijo al hacer scroll */
  /* Imagen del contenido */
}
.inicio .content .text-content {
  flex: 1;
  color: #000;
  padding: 15px; /* Aumenta el padding para crear espacio alrededor del texto */
  background-color: rgba(226, 220, 220, 0.8); /* Contenedor con fondo blanco semitransparente */
  border-radius: 10px; /* Bordes redondeados para un efecto más estético */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra suave al contenedor */
  margin-bottom: 20px;
}
.inicio .content .text-content h1 {
  font-size: 2.5rem;
}
.inicio .content .text-content p {
  font-size: 1.3rem;
}
.inicio .content .image-content {
  flex: 1;
  text-align: center;
  height: 100%; /* Altura completa */
  padding-left: 20px;
}
.inicio .content .image-content img {
  width: 100%;
  object-fit: cover; /* Imagen ajustada al contenedor */
  border: 3px solid #000000;
}
@media (max-width: 768px) {
  .inicio .content {
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center; /* Centra los elementos */
  }
  .inicio .content .text-content {
    margin-bottom: 20px; /* Espacio adicional debajo del texto */
    width: 100%; /* Asegúrate de que el contenedor de texto ocupe el ancho completo */
  }
  .inicio .content .image-content {
    padding-left: 0; /* Elimina el padding en pantallas pequeñas */
    width: 100%; /* Asegúrate de que la imagen ocupe el ancho completo */
  }
  .inicio .content .image-content img {
    width: 100%; /* Mantiene la imagen al 100% de ancho */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }
}

.taller {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #dcdcdc;
  background-image: url("../images/fondo-cuero-lineas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.taller .taller-content {
  margin-right: 2rem;
  width: 45%;
  color: #000;
  padding: 15px;
  background-color: rgba(226, 220, 220, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}
.taller .taller-content h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
}
.taller .taller-content p {
  font-size: 1rem;
  margin: 1rem 0;
}
.taller .taller-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  flex: 1;
  max-width: 600px;
}
.taller .taller-grid .grid-item {
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
}
.taller .taller-grid .grid-item img, .taller .taller-grid .grid-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.taller .taller-grid .item-vertical {
  grid-column: span 1;
  grid-row: span 2;
}

@media (max-width: 768px) {
  .taller {
    flex-direction: column;
    align-items: center;
  }
  .taller .taller-content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .taller .taller-grid {
    width: 100%;
  }
}
#galeria {
  padding: 60px 20px;
  background-color: #ececec;
  background-image: url("../images/fondo-cuero-lineas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#galeria .galeria-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinea el contenido en la parte superior */
  max-width: 1200px;
  margin: 0 auto;
}
#galeria .galeria-container .galeria-texto {
  flex: 1; /* Permite que el texto use el espacio disponible */
  color: #000;
  padding: 15px;
  background-color: rgba(226, 220, 220, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
}
#galeria .galeria-container .galeria-texto h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}
#galeria .galeria-container .galeria-texto p {
  font-size: 1.2em;
  color: #000;
  line-height: 1.6;
  overflow-wrap: break-word; /* Permite que las palabras largas se rompan */
}
#galeria .galeria-container .galeria-imagenes {
  flex: 1; /* Permite que la galería use el espacio disponible */
  display: flex;
  flex-direction: column; /* Asegura que las imágenes se apilen verticalmente */
  gap: 10px; /* Espacio entre imágenes */
}
#galeria .galeria-container .galeria-imagenes .carousel-item img {
  height: 400px;
  object-fit: cover;
  border-radius: 5px; /* Bordes redondeados para las imágenes */
}
@media (max-width: 768px) {
  #galeria .galeria-container {
    flex-direction: column;
  }
  #galeria .galeria-container .galeria-texto {
    margin-right: 0;
    width: 90%;
    margin-bottom: 20px; /* Añade un margen inferior para separación */
  }
  #galeria .galeria-container .galeria-imagenes {
    width: 90%;
  }
  #galeria .galeria-container .galeria-imagenes .carousel-item img {
    height: 250px; /* Ajuste de altura en pantallas pequeñas */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
  }
}

.contacto {
  padding: 60px 20px; /* Espaciado superior e inferior, con espaciado horizontal */
  background-color: #ececec;
  background-image: url("../images/fondo-cuero-lineas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  justify-content: center; /* Centra los elementos */
}

.contact-info, .contact-form {
  flex: 1 1 300px; /* Flexibilidad de crecimiento y contracción */
  max-width: 100%; /* Evita que el ancho máximo sobresalga de la pantalla */
  border: 1px solid #ccc;
  padding: 20px;
  background-color: rgba(226, 220, 220, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Espacio entre contenedores */
}
.contact-info h2, .contact-form h2 {
  margin-bottom: 10px;
}

.contact-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-form form label {
  margin: 10px 0 5px;
}
.contact-form form input, .contact-form form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Campos ocupan el 100% del ancho del contenedor */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}
.contact-form form button {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
}
.contact-form form button:hover {
  background-color: #333333; /* Color más claro al pasar el mouse */
}

@media (max-width: 768px) {
  .contacto {
    flex-direction: column; /* Apila los contenedores verticalmente en pantallas pequeñas */
    align-items: center; /* Centra los contenedores en el eje vertical */
    padding: 30px 10px; /* Ajuste de padding en pantallas pequeñas */
  }
  .contact-info, .contact-form {
    width: 90%; /* Asegura que los contenedores ocupen el 90% del ancho */
    max-width: none; /* Elimina cualquier restricción de ancho máximo */
    margin: 10px 0; /* Espacio vertical entre contenedores */
  }
  .boton-ver-mas {
    width: 100%; /* Botón ocupa el 100% del ancho */
    padding: 10px 0;
    margin-top: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
