// _variables.scss
$primary-font: "Hammersmith One", sans-serif;
$header-bg-color: #a35957;
$button-bg-color: #333;
$button-hover-bg-color: #555;
$content-bg-color: #f4f4f4;
$text-color: #000;
$card-bg-color: #a35957;
$semi-transparent-bg: rgba(226, 220, 220, 0.8);
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$transition-duration: 0.3s;
$text-color: #000000;
$background-color: #f5f5f5;
$primary-color: #a35957;